<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "https://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Dades de connexio a la base de dades sports de PostgreSQL. -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/sports</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">1234</property>

        <!-- Opcions basiques per mantenir les taules actualitzades sense omplir la consola. -->
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">false</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Classes del model que Hibernate ha de gestionar. -->
        <mapping class="dam.m6.uf2.Deportes"/>
        <mapping class="dam.m6.uf2.Deportistas"/>
    </session-factory>
</hibernate-configuration>
